/* CSS HEX */
:root{
--middle-blue-green: #82d4bbff;
--shadow-blue: #788aa3ff;
--dark-jungle-green: #172121ff;
--persian-pink: #ff88dcff;
--ultra-red: #ff6978ff;
}

html,body{
    margin: 0;
    padding: 0;
}

.personal-data{
    display: flex;
    /* Imagem de <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=828648">Free-Photos</a> por <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=828648">Pixabay</a>*/
    background-image: url(img/sky-full-stars.jpg);
    justify-content: space-around;
    align-items: center;
}

.personal-data img {
    width: 100px;
    border-radius: 50%;
}

.personal-data ul, li{
    list-style-type: none;
    display: inline;
}

.personal-data li a {
    text-decoration: none;
    color: #FFFFFA;
    font-size: 25px;
    margin-left: 6px;
    padding: 7px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    transition: color 1s, border 0.5s;
}

.personal-data li a:hover{
    color: rgb(245, 200, 200);
    border: 2px solid whitesmoke;
}